@font-face {
 font-family: "Open Sans";
 font-style: normal;
 font-weight: 400;
 src: url("../fonts/opensans.woff2") format("woff2"),
 url("../fonts/opensans.woff") format("woff");
}
@font-face {
 font-family: "Open Sans";
 font-style: normal;
 font-weight: 300;
 src: url("../fonts/opensanslight.woff2") format("woff2"),
 url("../fonts/opensanslight.woff") format("woff");
}
@font-face {
 font-family: Gilroy;
 font-style: normal;
 font-weight: 800;
 src: url("../fonts/gilroy.woff2") format("woff2"),
 url("../fonts/gilroy.woff") format("woff");
}
@font-face {
 font-family: Gilroy;
 font-style: normal;
 font-weight: 300;
 src: url("../fonts/gilroylight.woff2") format("woff2"),
 url("../fonts/gilroylight.woff") format("woff");
}

body{
  font-family: Gilroy, Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  background-color: #ffffff;
  color: #000000;

}
a {
  text-decoration: none;
}
a:hover {
  opacity: 0.6;
}
a:active {
  opacity: 0.3;
  color: #000000;

}
a:visited {
color: #000000;

}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.popup-write-us,
.popup-map {
  display: none;
}
.site-header {
  background-color: #f7e296;

}
.services {
  background-color: #e5e5e5;
}
.site-footer {
  background-color: #464646;
}
