@font-face {
 font-family: "Open Sans";
 font-style: normal;
 font-weight: 400;
 src: url("../fonts/opensans.woff2") format("woff2"),
 url("../fonts/opensans.woff") format("woff");
}
@font-face {
 font-family: "Open Sans";
 font-style: normal;
 font-weight: 300;
 src: url("../fonts/opensanslight.woff2") format("woff2"),
 url("../fonts/opensanslight.woff") format("woff");
}
@font-face {
 font-family: Gilroy;
 font-style: normal;
 font-weight: 800;
 src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
 url("../fonts/gilroyextrabold.woff") format("woff");
}
@font-face {
 font-family: Gilroy;
 font-style: normal;
 font-weight: 300;
 src: url("../fonts/gilroylight.woff2") format("woff2"),
 url("../fonts/gilroylight.woff") format("woff");
}

body{
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;
  background-color: #ffffff;
  color: #000000;
  margin-top: 40px;
}
a {
  text-decoration: none;
  color: #000000;
}
a:hover {
  opacity: 0.6;
}
a:active {
  opacity: 0.3;
  color: #000000;
}
a:visited {
  color: #000000;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.auto-width{
  max-width: 1160px;
  margin: 0 auto;
}
/* Header start*/
.site-header {
  display: flex;
  margin-top: 40px;
  height: 186px;
  background-color: #f7e296;
}

.header-sort-1 {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding-left: 60px;
  height: 186px;
}
.header-sort-2 {
  display: flex;
  flex-direction: row;
  width: 560px;
  align-items: baseline;
  flex-wrap: wrap;
  height: 186px;

}
.header-sort-2 ul{
 list-style: none;
}
.head-navigation{
font-family: Gilroy;
font-size: 18px;
font-weight: 800;
line-height: 24px;
text-transform: uppercase;
letter-spacing: 3.6px;
margin-top: -1px;
}
.head-navigation ul li {
  display: inline-block;  
}
.head-navigation ul li:first-child{
  margin-right: 25px;
}
.head-navigation ul li:last-child{
 margin-left: 101px;
}
.user-id{
  margin-right: 17px;
}

.no-login{
  opacity: 0.3;
}
.header-height {
  height: 299px;
}
.main-header-logo{
  margin-top: -17px;
      margin-bottom: 11px;
}
.user-navigation{
    margin-right: 63px;
    width: 225px;
  }
.user-navigation li{
  display: inline-block;
}
.user-navigation::before{
  content: url(../img/user.svg);
  margin-right: 9px;
}
.user-compare::before{
  content: url(../img/compare.svg);
  margin-right: 5px;
  
}
.user-compare{
    margin-right: 41px;
  }
.user-cart::before{
  content: url(../img/cart.svg);
  margin-right: 5px;  
}

.site-search input[type="search"]{
  width: 355px;
  background-color: #f7e296;
  border:none;
  font-size: 15px;
font-weight: 300;
line-height: 30px;
letter-spacing: 0.15px;

}
.header-sort-1 a{
  font-family: Gilroy;
font-size: 18px;
font-weight: 800;
line-height: 24px;
text-transform: uppercase;
letter-spacing: 3.6px;
}
.site-search form{
     display: flex;
     margin-bottom: 27px;
}
.site-search input[type="search"] {
   border-bottom: 2px solid #000000;
   color:#000000;
}
.site-search form::before{
  content: url(../img/search.svg);
  width:16px;  
  padding-right: 21px;
  border-bottom: 2px solid #000000;  
  align-self: flex-end;
      padding-bottom: 5px;


}
.site-search input[type="search"]:hover {
  height: : 85px;
  opacity: 0.6;
}
.site-search button[type="submit"]{
width: 85px;
height: 49px;
border: 2px solid #000000;
background-color: #f7e296;
}
.site-search button[type="submit"]:hover{
background-color: #000000;
color:#ffffff;
}
.site-search button[type="submit"]:focus{
opacity: 0.3;
}
.site-search input[type="search"]:focus + button[type="submit"]{
display: inline-block;

}
/* Header end*/
/* Slider start*/
.slider{
  margin-top: -112px;

}
.slider-item{
  display: flex;
  margin-left: 90px;
  margin-right: 90px;
}
.button-detailed{
font-family: Gilroy;
font-size: 18px;
font-weight: 800;
line-height: 24px;
text-transform: uppercase;
letter-spacing: 2.15px;
}
.button-bg{  
  background-color: #f0c52e;
  border: 0;
  transform: scaleY(0.5);
}
/* Slider end*/
.popular,
.info{
  display: flex;
}
.partners{
  display: flex;
  justify-content: space-between;
}
.partners-item img{
-webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.2;
}
.partners-item img:hover{
-webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  opacity: 1;
}
.breadcrumbs-wraper {
  padding-left: 60px;

}
.breadcrumbs-wraper ul{
  padding-left: 0;
}
.breadcrumbs-wraper ul li{
  display: inline-block;
  margin-left: 0;
}
.breadcrumbs-wraper h1 {
  margin-left: 0;

}

.site-filter{
  display: flex;
  margin-left: 60px;

}
.filter-menu{
  width: 268px;
  background: linear-gradient(90deg, rgba(239,239,239,1) 0%, rgba(238,238,238,1) 100%);
}
/* .filter-menu h2{
  background: linear-gradient(90deg, rgba(220,220,220,1) 0%, rgba(219,219,219,1) 100%);
} */
.filter-items{
  display: flex;
  flex-direction: column;
  width: 832px;
}
.item-group{
  display: flex;
  justify-content: space-between;
  margin-left: 72px;

  margin-top: 50px;
}
.arrow-group {
  margin-left: 200px;

}
.filter-sort-wraper{
  display: flex;
  align-items: baseline;
  background: linear-gradient(90deg, rgba(239,239,239,1) 0%, rgba(238,238,238,1) 100%);
}
.filter-sort-wraper span{
  margin-left: 72px;
}
.filter-sort-wraper ul{
  padding-left: 0;
  margin-left: 50px;

}
.filter-sort-wraper ul li{
  display: inline-block;
  margin-right: 30px;

}
.filter-item{
  width: 361px;

}
.pagination{
  display: flex;
  justify-content: center;
  width: 760px;
  height: 70px;
  margin-top: 50px;
  margin-left: 72px;
  margin-bottom: 70px;
  background: linear-gradient(90deg, rgba(239,239,239,1) 0%, rgba(238,238,238,1) 100%);
}
.pagination ul {
  width: inherit;
  padding: 0;
}
.pagination ul li{
  display: inline-block;
}
.pagination-back{
  margin-left: 30px;
margin-right: 280px;
}
.pagination-forward{
  margin-left: 280px;
  margin-right: 30px;
}
.services-wraper {
  background-color: #e5e5e5;
}
.footer-wraper {
  background-color: #464646;
}
.site-footer{
  padding-top: 65px;
  padding-bottom: 65px;
  display: flex;
  justify-content: space-between;
  color:#ffffff;
}
.site-footer a{
  color:#ffffff;
}
.site-footer ul li{
  display: inline-block;
}
.facebook::after{
  content: url(../img/fb.svg);
}
.instagram::after{
  content: url(../img/instagram.svg);
}
.twitter::after{
  content: url(../img/twitter.svg);
}
.popup-write-us,
.popup-map {
  display: none;
}
